body{
  padding: 0 0;
  margin:0 0;
  font-family: 'Droid Sans', sans-serif;
}
header{
	width:100%;
	height:100px;
	position:relative;
	border-bottom:1px solid #e7e7e7;
}
header .logo{
	height:70px;
	margin-top:10px;
}

.logo-blue{color:#47589A;}
.logo-green{color:#10A355;}
.logo-black{color:#3F3F3F;}

.nav-jalp > li > a{
	height:100px !important;
	display:block;
	line-height:5em;
	color:#3F3F3F;
}
.nav-jalp > li > a:hover{
	color:#47589A;
}
#block-intro-jalp{
    min-height:550px;
    background:url('images/infolab.jpg') no-repeat center center;
    background-size:cover;
    position:relative;
}
.bg-overlay{
    position:absolute;
    left:0;
    width:100%;
    height: 100%;
}
.bg-overlay.pattern{
    background:url('images/pattern.png');
}
.intro-title-jalp{
    color:#FFFFFF;
    transition: all 0.4s ease-in 0s;
}
.padding-jalp{
    margin-top:13em;
}
.btn-jalp{
    font-size: 18px;
    color: #FFFFFF;
    padding: 12px 34px;
    margin: 10px 3px;
    font-weight: normal;
    position: relative;
    transition: all 0.2s ease-in 0s;
}
.intro-spot-jalp{
    max-height:500px;
    width:auto;
    margin-top:8em;
}
#block-app-download{
    min-height:300px;
    background:url('images/beach.jpg') top center no-repeat;
    background-size:cover;
    position:relative;
}
#block-app-download h2{
    margin-top:2em;
    /*color:black;*/
}
#block-app-download p{
    color:#FFFFFF;
}
.intro-phone-jalp{
    max-height:350px;
    width:auto;
    margin-top:2em;
    margin-bottom:2em;
}
.app-store img{
    width:153px;
    height:45px;
}
#block-syn-jalp{
    background-color: #F5F5F5;
}
#block-sync-jalp h2{
    text-align: center;
}
#block-sync-jalp span{
    margin-top:2em;
}
#block-sync-jalp .app-description{
    text-transform: uppercase;
    font-size: 90%;
    font-weight: bold;
    color: #989898;
    text-align: center;
    margin: 0 auto;
}